# Dependency directories
node_modules

# Optional npm cache directory
.npm

# vs cache directory
.vs

# Output files
dist
out
server/out/
client/out/
client/server/
extension/out/
extension/server/
pythia/out/
pythia/src/tests/out/
pythia/src/tests/data/
junit.xml
coverage/
coverage-merged/

*.vsix
**/*.tsbuildinfo
