# Dependency directories
node_modules

# Optional npm cache directory
.npm

# vs cache directory
.vs

# Output files
# Output files
dist
out
server/out/
client/out/
client/server/
client/typeshed-fallback/
